.sidebar{
  transform: translateX(0%);
  transition: all 0.5s ease-in-out;
  background-color: #fff;
}

.sidebarTitle{
  display: none;
}

.open{
  display: block;
}

.sidebar-item{
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  padding-left: 32px;
  gap: 20px;
  padding-right: 32px;
}

.sidebar-item:hover{
  background-color: #dbdbdb88;
}



.sidebar-item-login{
  padding-left: 32px;
  cursor: pointer;
  gap: 20px;
}

.active{
  color: red;
}
